
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121212;
    --dark-1: #1e1e1e;
    --dark-2: #222222;
    --dark-3: #272727;
    --dark-4: #323232;
    --dark-5: #5b5b5b;
    --text-color: #D1D5DB;
    --success-color: #10b92a;
    --neutral-color: #7a817b;
    --error-color: #d11414;
    --default-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Geologica", sans-serif;
    font-family: "Space Grotesk", sans-serif;
    font-family: "Special Gothic", sans-serif;
    overflow-y: auto;
}

body.menu-open {
    overflow: hidden;
}

img {
    display: block;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


section {
    margin-top: 32px !important;
    padding-bottom: 32px;
}

#team-header {
    margin-bottom: 32px;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0.75rem;
}


.fade-gradient {}

#nav-input {
    display: none;
    min-width: 300px;
}

@media (min-width: 768px) {
    #nav-input {
        display: flex !important;
    }
}

#nav-mobile-input {
    display: flex !important;
}

#nav-mobile-input input,
#player-search-input input {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    #nav-mobile-input {
        display: none;
    }
}

#player-search-input {
    min-width: 900px;
}

#player-search-input input {
    min-width: 95%;
}

@media (max-width: 768px) {
    #player-search-input {
        max-width: 90% !important;
        min-width: 90% !important;
    }

    #player-search-input input {
        min-width: 85%;
    }
}


.underline {
    width: 100%;
    height: 2px;
    background: var(--bg-color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}


.fade-gradient {
    background: linear-gradient(to bottom, #1f1f1f, #141414);
    /* border: 1px solid rgb(0, 0, 0); */
}


.darker-row {
    background: var(--dark-1);
}

.lighter-row {
    background: var(--dark-2);
}


.card-style {
    background: var(--dark-1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    cursor: pointer;
}

#clubs-section,
#standings-section,
#stats-section {
    margin-top: 24px !important;
}

#team-header,
#player-header {
    margin-top: 0px !important;
}


/* Skeleton Loader */
.skeleton-loader {
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.skeleton-loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--bg-color) 25%, var(--dark-1) 50%, var(--dark-2) 75%);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}





/* PAGES */

/* Standings */
.centered {
    text-align: center;
}

.standings-container {
    border-radius: 0.5rem;
    box-shadow: var(--default-shadow);

}

.standing-row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    padding: 16px 24px;
    padding-left: 32px;
}



.standing-row-head,
.stat-row-head {
    font-weight: bolder;
    background: var(--dark-1) !important;
}

/* Stats */
.stat-row,
.stat-row-head {
    grid-template-columns: 1fr 3fr 3fr 2fr;
    gap: 20px;
}


/* TeamHeader */
.socials span {
    margin-top: 16px;
    margin-right: 8px;
    font-size: 32px;
}


/*TeamResults & TeamFixtures */
.team-results-row,
.team-results-head {
    display: grid;
    grid-template-columns: 1fr 5fr 1.25fr;
    cursor: pointer;
}

.team-fixture-row {
    cursor: auto;
}

.team-scores-row {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.team-scores-row>* {
    display: flex;
    align-items: center;
}



.player-details {
    overflow: scroll;
}


#game-header,
#player-header {
    margin-bottom: 32px;
}

#game-header,
#league-header,
#team-header,
#player-header {
    margin-top: 50px !important;
    background: linear-gradient(to bottom, #1f1f1f, #141414);

}

#game-stats,
#game-events {
    margin-bottom: 32px;
}

#game-events,
#game-stats {
    padding-bottom: 0px;
}

#mobile-player-header {
    display: none;
}

#player-header {
    display: flex;
}






@media (max-width: 500px) {


    section {
        margin-top: 24px !important;
    }

    .section-heading {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.75rem;
    }


    .standing-row {
        padding-left: 24px;
        font-size: 14px !important;
    }

        #game-header,
        #league-header,
        #team-header,
        #player-header {
            margin-top: 25px !important;
        
        }
}


/* Medium screens (>= 768px) */
@media (max-width: 768px) {

    .standing-row {
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr !important;

    }

    .stat-row,
    .stat-row-head {
        grid-template-columns: 1fr 3fr 1fr 1fr !important;
        gap: 20px;
    }

    .socials span {
        margin-top: 8px;
        margin-right: 8px;
        font-size: 24px;
    }

    /*TeamResults & TeamFixtures */

    .team-results-head {
        display: none;
    }

    .team-results-row {
        grid-template-columns: 1fr;
    }

    .team-scores-row {
        grid-template-columns: 1fr 1fr 1fr;
    }


}

/* Large screens (>= 976px) */
@media (max-width: 976px) {

    .standing-row {
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .stat-row,
    .stat-row-head {
        grid-template-columns: 1fr 3fr 3fr 2fr;
        gap: 20px;
    }
}

